# Automated EDA Techniques

In [18]:
# installing pandas_profiling
# !pip install pandas_profiling

'''
https://pypi.org/project/pandas-profiling/
'''

'\nhttps://pypi.org/project/pandas-profiling/\n'

In [19]:
import pandas_profiling
import seaborn as sns

In [20]:
# loading tips dataset from seaborn library
df = sns.load_dataset('tips')

In [21]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
from pandas_profiling import ProfileReport

In [23]:
profile = ProfileReport(df, explorative= True, dark_mode=True)

In [24]:
# profile.to_file('output.html')

### dtale library in python

In [25]:
# install dtale library
# !pip install dtale
'''
https://pypi.org/project/dtale/
'''

'\nhttps://pypi.org/project/dtale/\n'

In [26]:
# importing libraries and dataset - titanic
import pandas as pd
import seaborn as sns
import dtale
df = sns.load_dataset('titanic')
# dtale.show(df)

In [27]:
# dtale.show(df)

### sweetviz library

In [28]:
# installing sweetviz library
# !pip install sweetviz

import sweetviz as sv
# report = sv.analyze(df)
# report.show_html('newreport.html')

'''
https://pypi.org/project/sweetviz/
'''

'\nhttps://pypi.org/project/sweetviz/\n'

### data prep library

In [29]:
# installing data prep
# !pip install dataprep

In [30]:
import dataprep
# from dataprep.eda import create_report
# create_report(df)

### autoviz library

In [31]:
# !pip install autoviz

### lux library

In [32]:
# !pip install lux

'''
https://pypi.org/project/lux/

can't use in jupyter notebook

use from website ---> click on live note book option

'''

"\nhttps://pypi.org/project/lux/\n\ncan't use in jupyter notebook\n\nuse from website ---> click on live note book option\n\n"

### pandas visual analysis

In [33]:
# !pip install pandas_visual_analysis

In [34]:
from pandas_visual_analysis import VisualAnalysis
import seaborn as sns
df = sns.load_dataset('titanic')
# VisualAnalysis(df)