# Time Series EDA

In [37]:
'''
we used pandas-datareader to fet data from various websites -->  https://pandas-datareader.readthedocs.io/en/latest/
This allows to access data from various datasets without having to use API key

use below command to install from notebook
!pip install pandas-datareader
'''

import pandas_datareader as pdr
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [38]:
# reading dataset --> pdr function has lot of datasets

'''
df = web.DataReader('GE', 'yahoo', start='2019-09-10', end='2019-10-09')
df.head()
'''

# pdr.get_data_fred('GS10')

# pdr.get_data_yahoo('AAPL')

# yf.pdr_override()

'''
Since the the given coed by sir is not working,
use the read_Yahoo_Website_Data.py program to get the data in csv and load here
'''

'\nSince the the given coed by sir is not working,\nuse the read_Yahoo_Website_Data.py program to get the data in csv and load here\n'

In [39]:
df_tesla = pd.read_csv('TSLA.csv')

type(df_tesla)

df_tesla.tail()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
1254,1254,2022-12-23,126.370003,128.619995,121.019997,123.150002,123.150002,166989700
1255,1255,2022-12-27,117.500000,119.669998,108.760002,109.099998,109.099998,208643400
1256,1256,2022-12-28,110.349998,116.269997,108.239998,112.709999,112.709999,221070500
1257,1257,2022-12-29,120.389999,123.570000,117.500000,121.820000,121.820000,221923300
1258,1258,2022-12-30,119.949997,124.480003,119.750000,123.180000,123.180000,157304500

In [40]:
# drop extra column from the data frame

df_tesla = df_tesla.drop(['Unnamed: 0'], axis=1)

In [41]:


df_tesla['High'].plt.plot()

AttributeError: 'Series' object has no attribute 'plt'